*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
ul,li{
    list-style: none;
}
.outerContainer{
    width: 100%;
    height: 100vh;
    padding: 100px 15px;
    position: relative;
    background-image:url(./weatherIcon/BG2.jpg);
    background-size: cover;
    /* animation: kenburn 25s infinite alternate; */
}
.container{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background: #ebe6e0bf;
    border-radius: 35px;
    padding: 30px;
}
.leftMessageBox{
    height: 100%;
    width: 20%;
    background: #b9d3e7bd;
    text-align: center;
    border-radius: 30px;
    padding: 18px;   
}
.leftMessageBox h3{
    margin-top: 20px;
    text-align: center;
}
ul li{
    margin-top: 8px;
}
#todayIcon {
    margin-top: 20px;
    width: 55px;
}
#todayTemperature{
    font-size: 40px;
    text-align: center;
}
.rightMessageBox{
    width: 80%;
    display: flex;
    flex-direction: column;
    
}
.uppercontent{
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 100%;
}
.uppercontentItem {
    height: 300px;
    text-align: center;
    width: 20%;
    border-radius: 50px;
    border: solid #acacdf24;
}



@media only screen and (max-width: 768px){
    
}

