.intro{
    width: 300px;
    height: fit-content;
    background: none;
    border: 1px solid;
    margin: auto;
    text-align: center;
    padding: 30px;
    background: cornsilk;

}
#btn{
    width: 100px;
    height: 30px;
}
#setup{
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: relative;
    background: none;
}


.field{    
    margin: auto;
    display: none;
    flex-wrap: wrap;
    border: 2px solid; 
    
}
div{
    background: rgb(177, 149, 149);       
    width: 20px;
    height: 20px;    
}
.hole{
    background: black;     
    border-radius: 100px;
}
.hat{
    background: chartreuse;
}
.player{
    background: blue;
}
.disappear{
    display: none;
}
h1{
    text-align: center;
}