*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',Arial,sans-serif;
}
li{
    font-size: 1.5rem;
    margin: 15px 0px;
    list-style: none;
    font-weight: bolder;
    color: #0089ffa8;
}
li:hover {
    color: black;
    transform: scale(1.2);
}
html{
    scroll-behavior:smooth;
}
#home{
    background-image: url(./img/bk1.jpg);
    /* background-size:cover; */
    background-size: 100% 100%;
    height: 100vh;
    background-repeat: no-repeat;
    color: white;
    
}
h1{
    font-weight: bolder;
    font-family: 'blacker-sans-display-trial-extralight-9', sans-serif;
    text-shadow: 5px 5px 3px #000;
    font-size: -webkit-xxx-large;
}
h2{
    text-align: center;
    text-decoration: underline;
    letter-spacing: 1px;
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background: rgb(12 12 12 / 30%);
    z-index: 3;
}
#logo{
    padding: 18px;
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

.navBar{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%; 
    transition: top 0.3s;
}
.navbarItem {
    display: flex;
    margin: 0 10px;
    align-items: center;
    font-weight: bolder;
    cursor: pointer;
    z-index: 5;
}
.navbarItem a{
    color: #f0f0f0c7;
    text-decoration: none;
}
.weather{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
}
.weather p{
    text-align: center;
    margin-top: 2px;
    font-size: large;
}
.navbarItem a:hover{
    transform: scale(1.1);
    color: white;
}
.intro{
    line-height: 68px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
}
.scrollDownBtn{
    fill: white;
    display: block;
    position: absolute;
    bottom: 60px;
    margin: auto;
    display: block;
    cursor: pointer;
    left: 0;
    right: 0;
    animation: hang1 2s infinite;
}
#aboutMe{
    border-bottom: solid 1px #8080802e;
    padding: 60px;
    background: white;
    color: #5f5b5b;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content>p{
    line-height: 2rem;
    font-size: 1.5rem;
    max-width: 483px;;
}
#anson{
    max-width: 268px;
}
#mySkills{
    box-sizing: border-box;
    border-bottom: solid 1px #8080802e;
    padding: 60px 0px;
    text-align: center;  
    background: #ebebeb;  
    width: 100%;
}
.skillscontainer{
    justify-content: space-evenly;
    margin: 20px 100px;
    DISPLAY: flex;
}
#mySkills img{
    width: 65%;
}
#works{
    width: 100%;
    border-bottom: solid 1px #8080802e;
    padding: 60px 0px;
    background: white;
    color: #5f5b5b;
}
.assessment{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
}
.assessmentImg{
    width: 28vw;
    height: 300px;
    margin: 5px 20px;
    border: solid 1px; 
    animation: hang2 2s infinite;
}
a.assItem:hover {
    transform: scale(1.05);
}
.assItem p{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}
#contact{
    height: 128px;
    background: #5f5b5b;
    padding: 15px;
    text-align: center;
    color: white;
    letter-spacing: 1px;
}
.contactInf {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 20px;
}
.contactInf a{
    color: white;
}

@keyframes hang1{
    0%{
        transform: translate(0,0);
    }
    50%{
        transform:translate(0,20px);
    }
    100%{
        transform: translate(0,0);
    }
}
@keyframes hang2{
    0%{
        transform: translate(0,0);
    }
    50%{
        transform:translate(0,5px);
    }
    100%{
        transform: translate(0,0);
    }
}



@media only screen and (max-width: 768px) {
   h1{
       font-size: revert;
   } 
   nav{
       flex-direction: column;
       position: unset;
   }
   .navBar{
       flex-direction: column;
       width: 100%;
   }
   .navbarItem{
       justify-content: center;
       padding: 8px;
       font-size: 1.5rem;
   }
   #logo{
       text-align: center;
   }
    #logo {
        padding: 10px;
        font-size: xxx-large;
        font-weight: bolder;
        letter-spacing: 3px;
    }
    .weather{
        display: none;
    }
   .intro{
       margin-top: 70px;
       padding-top: 0;
   }
   .content{
       flex-direction: column-reverse;
   }
    .scrollDownBtn{
        display: none;
    }
    #aboutMe{
        padding: 60px 15px;
    }

    .assessment{
        text-align: center;
        flex-direction: column;
    }
    .assessmentImg{
        width: 80vw;
        animation: none;
    }
    .assessmentImg:hover{
        transform:scale(1.02);
    }
    .contactInf{
        padding: 0;
        flex-direction: column-reverse;
    }
    .contactInf li{
        margin-top: 10px;
    }
}