body{
    background: black;
    font-family:Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    
}
header{
    display: fixed;
}
h1,h2,h3,h4,h5,h6,li{
    font-family:Helvetica, sans-serif;    
    color: seashell;
    opacity: 0.9;}

.top-container{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 69px;    
    border-bottom: 1px solid wheat;
    
}
.logo{
    height: 69px;
    
}
.logo-img{
    height: 50px;
    padding: 10px;
}
.menu-list{
    font-size: 16px;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: underline;   
    align-items: flex-end;    
    margin: 2px;
}
.menu-list-item{
    padding: 5px;
    margin: 5px 2px 5px 12px;
}
.bg-img{
    width: auto;
}
#upbg-img{
    height:700px;
    width: 1200px;
    margin: 0px 20px 10px 20px;
    
}
.textinimg{
    background: black;
    top: 362px;
    text-align: center;
    position: absolute;
    width: 100%;
}
.six-colum{
    width: 100%;
}
.six-colum-text{
    position: relative;
    text-align: center;    
    width: 1000px;
    margin: 0 auto;
}
.fives-items{
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
}
.card{
    width: 300px;
    margin: 16px;
}
.fives-items-img{
    height: 200px;
}
.fives-items-img-title{
    margin: 10px;
}
.lower-content{
    width: auto;    
    background-image: url(./img/img-locations-background.webp) ;
    height:500px;
    width: 1200px;
    margin: 0px 20px 0px 20px;
}

/*#lobg-img{
    height:700px;
    width: 1200px;
    margin: 0px 20px 10px 20px;
}*/
#absolute-content-title{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 15px;
    margin-bottom: 0px;
   
}

.three-items{
    justify-content:center;    
    display: flex;
    flex-direction: row;    
    
}
.locations-card{
    margin: 0 20px;
    text-align: center;
    width: 300px;
    background: black;
}
.footer1{
    height: 200px;
    text-align: center;
}
.footer2{
    margin: 30px 20px;
}
#yoyoyo{
    padding-top: 20px;
    margin-top: 0px;
}
